<!DOCTYPE html>
<html lang="en">
  <head>
    <title>3G3G-T-T-T</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="T-T-T.css" />
    <link rel="shortcut icon" type="image/x-icon" href="logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Outfit:wght@500;900&family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </button>

    <% if (!isAuth) { %>
    <header>
      <a class="register" href="/signup">Register</a>
      <a class="login" href="/login"> Login</a>
    </header>
    <% } else { %>
    <header>
      <a class="register" href="/myprofile">Profile</a>
    </header>
    <% } %>

    <section class="start">
      <div class="slider">
        <img src="T-T-T.png" width="100%" />
      </div>

      <div class="text">
        <div class="text_1">
          <p class="h_1" >Avocado.</p>
          <p class="h_2">a game made by ALIKHAN</p>
          <p class="grad">TIC-TAC-TOE</p>
          <div class="gradient"></div>
        </div>
        <div class="text_2">
          <p>
            These games are not intended for children under 6 years of age,
            also, seriously, who reads all this? I just wanna tell you how I'm
            feeling Gotta make you understandNever gonna give you up Never gonna
            let you down
          </p>
        </div>
        <a class="play_ff" href="#game">
          <button class="play">Let's play</button>
        </a>
      </div>
    </section>
    <div class="comp" id="game"></div>

    <div class="flex-ttta">
      <div class="board" id="board">
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
      </div>
      <div class="empty-2"></div>
      <div class="winning-message" id="winningMessage">
        <div data-winning-message-text></div>
        <button id="restartButton">Restart</button>
      </div>
      <div class="score" id="score"></div>
    </div>

    <div class="empty"></div>

    <div id="top"></div>
    <div class="videos">
    <iframe
      width="560"
      height="315"
      src="<%= video.link %>"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <iframe
      width="560"
      height="315"
      src="<%= video2.link %>"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    </div>

    <div class="empty2"></div>

    <footer class="footer_d">
      <div class="footer-flex">
        <div class="part1_footer">
          <div class="container"><h1 class="footer_first">Avocado.</h1></div>
          <div class="container">
            <p class="footer_second">
              Play with pleasure, <br />
              because we poured all the soul.<br />
              <span class="footer_nice"> keep it simple </span>
            </p>
          </div>

          <div class="container">
            <p class="all_rights">© 2024 Avocado. All rights reserved.</p>
          </div>
        </div>

        <div class="part2_footer">
          <a class="link_class" href="https://instagram.com/jntbk?utm_medium=copy_link">About us</a>
          <a class="link_class" href="https://instagram.com/jntbk?utm_medium=copy_link">Support</a>
          <a class="link_class" href="https://instagram.com/jntbk?utm_medium=copy_link">Privacy & Terms</a>
          <a
            class="link_class"
            href="https://instagram.com/jntbk?utm_medium=copy_link"
          >
            Contact</a
          >
        </div>
      </div>
    </footer>
    <script src="static/ttt_script.js"></script>
    <script src="static/baha.js"></script>
    <script>
      console.log('<%= video.link %>');
      const getScore = async () => {
        const res = await fetch('http://localhost:3000/score/ttt');
        const data = await res.json();
        const scoreTag = document.getElementById('score');
        console.log(data);
        scoreTag.innerHTML = `<p>user: ${data.user} X wins: ${data.wins} | O wins: ${data.losses}</p>`;
      };
      getScore();
      async function end(res) {
        console.log(res);
        await fetch('http://localhost:3000/ttt', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            result: res,
          }),
        });
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
